
body{
    background: #0f0f0f;
    font-family: 'opensans-regular', sans-serif;
    font-weight: normal;
    font-size: 15px;
    line-height: 30px;
    color: #838C95;
    -webkit-font-smoothing: antialiased;/* 灰度平滑 */
    -webkit-text-size-adjust: 100%;/*禁用Webkit内核浏览器的文字大小调整功能*/
}
ul{
    list-style: none;
    padding:0;
    margin:0;
}
/* header style */
header{
    height: 955px;
    background:#161415 url("../images/resumeblack-image/header-background.jpg") no-repeat;
    background-size: cover;
    overflow: hidden;
}
.nav{
    width: auto;
    min-height: 48px;
    text-align: center;
}
.nav li{
    position: relative;
    list-style: none;
    height: 48px;
    display: inline-block;
}
.nav li a{
    display: inline-block;
    padding: 8px 16px;
    line-height: 32px;
    text-decoration: none;
    text-align: left;
    color: #fff;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 12px;
    text-transform: uppercase;
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}
.nav li.current a{
    color:#F06000;
}
.nav>li>a:hover{
    background-color: transparent;
    text-decoration: none;
}
/* banner-text style */
.banner-text {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    padding: 262px 0 200px 0;
}
header .banner-text h1 {
    font: 90px/1.1em 'opensans-bold', sans-serif;
    color: #fff;
    letter-spacing: -2px;
    margin: 0 auto 18px auto;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
}
header .banner-text h3 {
    width: 90%;
    font: 18px/1.9em 'librebaskerville-regular', serif;
    color: rgba(255, 255, 255, 0.6);
    margin: 0 auto 18px auto;
}
h3 span{
    color:#fff;
    font-weight: 600;
}
h3 a{
    color:#fff;
    font-weight: 600;
}
.banner-text hr {
    width: 75%;
    border-top: 1px solid rgb(48, 42, 44);
}
.social{
    text-align: center;
}
.social li{
    display: inline-block;
    padding:15px;
}
.social li a{
    font-size: 30px;
    color: #fff;
}